.PreviewImg{ 
    /* min-height: 25vh;  */
    width: fit-content; 
    height: auto; 
    z-index: 2;
    position: relative;
    object-fit: cover;
    
}

.ImgCover{ 
    width: fit-content; 
    position: relative;

}

.header{
  background:linear-gradient(271deg,  rgb(136, 197, 255), #fe98ff, #ff9998, #ffb97f);
  background-size: 1000% 1000%;
  -webkit-animation: ColourShift 20s ease infinite;
  -moz-animation: ColourShift 20s ease infinite;
  animation: ColourShift 20s ease infinite;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  z-index: 2;
  transition: .5s ease;
  border-radius: 3px;
  margin: auto;
}

.ImgCover:hover .header{ 
    opacity: 1;
}

.contentContainer{ 
    margin: 20px; 
    text-align: left;
    
    
}

.name{ 
    font-weight: 700;
    font-size: 4ex;
    font-size: calc(17px + 1vmin); 

    /* color: black;  */
}

#description{ 
    font-size: calc(8px + 1vmin); 

}

#skills{ 
    padding-top: 5px;
    font-style: italic;
    color: blue; 
    font-size: calc(5px + 1vmin); 
}

#see-more{ 
    padding-top: 20px;
    font-size: 0.8em; 
    text-transform: uppercase;
    cursor: pointer;
    transition: ease-in;
    transition-duration: 2s;
}

#see-more:hover{ 
    text-decoration-color: #ffb97f; 

}



