.Layout{ 
    /* width: 90vw;  */
    min-width: 100vw;
    min-height: 100vh;
    /* background-size: cover; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* background: linear-gradient(271deg, rgb(22, 39, 37), #1f1f2e); */
    background:seashell; 
    /* background-size: 100% 100%;  */
    -webkit-animation: ColourShift 20s ease infinite;
    -moz-animation: ColourShift 20s ease infinite;
    animation: ColourShift 20s ease infinite;
    color: #1f1f2e; 
    text-transform: uppercase;
    font-size: calc(7px + 2vmin);
}

.Home{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: calc(30px + 2vmin);
    letter-spacing: 1px; 
    font-family:'Avenir'; 
}

#logo{ 
    height: 60px; 
}
.nav-items{ 
    font-family: 'Avenir';
}

#left{ 
    transform: translate(1vh, 2vh);
}

#right{ 
    transform: translate(1vw, 2vw);
}

#art{ 
    transform: translate(-13vw, 1vw);
}
#art:hover{ 
    color:#1f1f2e; 
}

#product{ 
    transform: translate(-11vw, 4vw);

}

#product:hover{ 
    color:#1f1f2e; 

}

#about{ 
    transform: translate(8vw, 3vw);
}
#about:hover{ 
    color: #1f1f2e; 
}

#coding{ 
    transform: translate(-10vw, 2vw);
}

#coding:hover{ 
    color: #1f1f2e; 
}

#writing{ 
    transform: translate(-10vw, 3vw);
}
#writing:hover{ 
    color: #1f1f2e; 
}

.Circle{ 
    z-index: 3;
    position: relative; 
}

#filler{ 
    height: 10vh; 
}

@-webkit-keyframes ColourShift {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
  }
  @-moz-keyframes ColourShift {
      0%{background-position:0% 51%}
      50%{background-position:100% 50%}
      100%{background-position:0% 51%}
  }
  @keyframes ColourShift {
      0%{background-position:0% 51%}
      50%{background-position:100% 50%}
      100%{background-position:0% 51%}
  } 

  @keyframes CircleScale {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(8);
    }

  }